<ion-header translucent no-border>
  <ion-list>
    <ion-item *ngIf="barbeiro$ | async as barbeiro">
      <ion-avatar>
        <img [src]="barbeiro.imagem || imagemPadrao" alt=""> 
      </ion-avatar>
      <ion-label>
        <ion-title slot="end">{{ barbeiro.nome }}</ion-title>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-toolbar>
    <ion-title class="titulo-lista">Selecione o serviço desejado</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-list *ngIf="cortesBarbeiro$ | async as cortes">
  <ion-item *ngFor="let c of cortes" detail>
    <ion-label>
      <h3>{{ c.servico }}</h3>
      <p>{{ c.tempo }}min</p>
    </ion-label>
    <ion-label slot="end" class="ion-text-right">
      <h3>{{ c.preco | currency: 'BRL': 'symbol' }}</h3>
    </ion-label>
  </ion-item>
</ion-list>
</ion-content>







<!-- <ng-container *ngIf="usuario$ | async as usuario; else semUsuario">

    <button *ngIf="(usuarioEstaNaFila$ | async) === false" 
        (click)="entrarNaFila()">
        entrar na fila
    </button>

    <ng-container *ngIf="filaBarbeiro$ | async as filaBarbeiro; else semFila">
        <ul>
            <li *ngFor="let fila of filaBarbeiro">
                {{ fila.data }} - {{ fila.nomeUsuario }}
                <a (click)="sairDaFila(fila)" *ngIf="usuario.id === fila.idUsuario">Sair da fila</a>
            </li>
        </ul>
    </ng-container>
</ng-container>

<ng-template #semUsuario>
    <h1>Carregando Usuário</h1>
</ng-template>

<ng-template #semFila>
    <h1>Carregando Fila</h1>
</ng-template> -->
